# Binaries for programs and plugins
healthreport
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# plaintext, account message. The old version.
account.txt

# binary account info. The new version.
account

# log
/log

# config
config.json
email.json
/.vscode
