# Binaries for programs and plugins
healthreport
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# account info file
account
account.json

# log
/log

# config
config.json
email.json
/.vscode
