name: Release
on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      VERSION:
        description: 'version(vX.Y.Z) to release'
        required: true
        default: 'v'
      MESSAGE:
        description: 'message for release body'
      GoVersion:
        description: >
          Go version(X.Y.Z) for build
          default: latest go version
  push:
    tags:
    - '*'

env:
  MESSAGE: ${{ github.event.inputs.MESSAGE }}
  VERSION: ${{ github.event.inputs.VERSION }}
  GoVersion: ${{ github.event.inputs.GoVersion }}

jobs:
  release:
    name: Release on GitHub
    runs-on: ubuntu-latest
    steps:
    - name: Set GoVersion
      if: env.GoVersion == ''
      run: |
        echo "GoVersion=$(curl -s https://raw.githubusercontent.com/actions/go-versions/main/versions-manifest.json | grep -oEm 1 '"version": "[0-9]{1}.[0-9]{1,}(.[0-9]{1,})?"' | cut -d':' -f2 | sed 's/ //g; s/"//g')" >> ${GITHUB_ENV}

    - name: Set ENV for 'Create Tag'
      if: startsWith(github.ref, 'refs/tags/')
      run: |
        echo "VERSION=${GITHUB_REF/refs\/tags\//}" >> ${GITHUB_ENV}

    - name: Check out code
      uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ env.GoVersion }}

    - name: Dep
      run: make dep

    - name: Build
      run: |
        make build VERSION=${{ env.VERSION }} TARGET=linux
        make build VERSION=${{ env.VERSION }} TARGET=windows

    - name: Create Release
      run: |
        gh release create ${{ env.VERSION }} -n "${{ env.MESSAGE }}" -t "${{ env.name }}" ${{ env.files }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        # attribute
        name: 健康打卡${{ env.VERSION }}
        files: healthreport healthreport.exe

  publish_to_docker_hub:
    name: Publish to Docker Hub
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Set ENV for 'Create Tag'
      if: startsWith(github.ref, 'refs/tags/')
      run: |
        echo "VERSION=${GITHUB_REF/refs\/tags\//}" >> ${GITHUB_ENV}

    - name: Docker Login
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Push to Docker Hub
      uses: docker/build-push-action@v2
      with:
        push: true
        tags: |
          yin199909/healthreport:${{ env.VERSION }}
          yin199909/healthreport:latest
